<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FolioFlux, <%= @user.name %></h1>
    <p>
      You have successfully signed up to FolioFlux.
      To verify your email address, please use the following code:
    </p>
    <div style="padding: 10px; background-color: #f5f5f5; font-size: 24px; text-align: center; margin: 20px 0; letter-spacing: 5px;">
      <strong><%= @verification_code %></strong>
    </div>
    <p>
      This code will expire in 1 hour.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>
